* {
    box-sizing: border-box;
  }

  .body {
    background-image: url('https://i.pinimg.com/originals/3d/08/e0/3d08e03cb40252526fee2036a67f07f1.gif');
    padding: 20px;
    font-family: Arial;
  }


  .main {
    max-width: 1000px;
    margin: auto;
  }

  h1 {
    font-size: 50px;
    word-break: break-all;
  }

  h2 {
    text-align: center;
    color: white;
  }

  h3 {
    text-align: center;
  }

  .row {
    margin: 8px -16px;
  }


  .row,
  .row>.column {
    padding: 8px;
  }


  .column {
    float: left;
    width: 25%;
  }


  .row:after {
    content: "";
    display: table;
    clear: both;
  }


  .content {
    background-color: white;
    padding: 10px;
    height: 325px;
  }

  .content-footer p {
    color: white;

  }

  .content-footer h3 {
    color: white;

  }

  .content img {
    height: 155px;
  }

  @media screen and (max-width: 900px) {
    .column {
      width: 50%;
    }
  }


  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }